<div class="container">
    <h1>🚨 ¡Oops! Ha ocurrido un error.</h1>
    <p>No pudimos cargar la información solicitada.</p>
    {{#if message}}
        <p>Detalle: {{message}}</p>
    {{/if}}
    <a href="/products">Volver al inicio</a>
</div>