<h1>Productos en Tiempo Real 游댃</h1>

<p>Los cambios realizados aqu칤 se reflejar치n autom치ticamente en todos los clientes conectados.</p>
<hr>

<h2>A침adir Nuevo Producto (v칤a WebSocket)</h2>
<form id="productForm">
    <input type="text" id="title" placeholder="T칤tulo" required><br>
    <input type="text" id="description" placeholder="Descripci칩n" required><br>
    <input type="text" id="code" placeholder="C칩digo" required><br>
    <input type="number" id="price" placeholder="Precio" required><br>
    <input type="number" id="stock" placeholder="Stock" required><br>
    <input type="text" id="category" placeholder="Categor칤a" required><br>
    <button type="submit">Agregar Producto</button>
</form>

<hr>

<h2>Lista Actualizada de Productos</h2>
<ul id="productList">
    </ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>